@model IEnumerable<DoAn1.Areas.Admin.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Transactions" asp-action="Create" class="btn btn-success">+ Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.PaymentMethodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.UserId)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Transactions" asp-action="Edit" asp-route-id="@item.TransactionId" class="btn btn-sm btn-warning">Sửa</a>
                <a asp-area="Admin" asp-controller="Transactions" asp-action="Details" asp-route-id="@item.TransactionId" class="btn btn-sm btn-info text-white">Chi tiết</a>
                <a asp-area="Admin" asp-controller="Transactions" asp-action="Delete" asp-route-id="@item.TransactionId" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
