@model IEnumerable<DoAn1.Areas.Admin.Models.Review>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Reviews" asp-action="Create" class="btn btn-success">+ Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerReply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerReplyAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerReply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerReplyAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedUser.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.UserId)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Reviews" asp-action="Edit" asp-route-id="@item.ReviewId" class="btn btn-sm btn-warning">Sửa</a>
                <a asp-area="Admin" asp-controller="Reviews" asp-action="Details" asp-route-id="@item.ReviewId" class="btn btn-sm btn-info text-white">Chi tiết</a>
                <a asp-area="Admin" asp-controller="Reviews" asp-action="Delete" asp-route-id="@item.ReviewId" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
