@model IEnumerable<DoAn1.Areas.Admin.Models.SystemNotification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="SystemNotifications" asp-action="Create" class="btn btn-success">+ Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="SystemNotifications" asp-action="Edit" asp-route-id="@item.NotificationId" class="btn btn-sm btn-warning">Sửa</a>
                <a asp-area="Admin" asp-controller="SystemNotifications" asp-action="Details" asp-route-id="@item.NotificationId" class="btn btn-sm btn-info text-white">Chi tiết</a>
                <a asp-area="Admin" asp-controller="SystemNotifications" asp-action="Delete" asp-route-id="@item.NotificationId" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
