@model IEnumerable<DoAn1.Areas.Admin.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsResolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedUser.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
